@import 'null.css';
.wrapper {
  max-width: 1190px;
  margin: 0 auto;
  padding: 10px 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 1fr;
  grid-template-columns: 25% 1fr;
  overflow: hidden;
  min-height: 100%;
  font-family: "Open Sans";
}

.sidebar {
  padding: 40px 10px 0 0;
  -webkit-box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sidebar__top {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.sidebar__title {
  font-size: 25px;
  font-weight: bold;
  padding: 0 0 40px 0;
}
.sidebar__back {
  background: #6A983C;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sidebar__back:hover {
  background: #4b6d29;
}
.sidebar__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
}
.sidebar__buy {
  background: #6A983C;
  color: #fff;
  height: 100%;
  padding: 0 20px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sidebar__buy:hover {
  background: #4b6d29;
}
.sidebar__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 17px;
}
.sidebar__total-price {
  margin: 0 0 0 15px;
}

.main-body {
  margin: 0 0 0 20px;
  padding: 10px 0 0 0;
}

.item-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  height: 130px;
  border: 1px solid #D1D1D1;
}
.item-main:not(:first-child) {
  margin: 20px 0 0 0;
}
.item-main__first-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-main__img {
  height: 100%;
  width: 130px;
  max-width: 200px;
  margin: 0 0 0 20px;
}
.item-main__num {
  font-size: 40px;
}
.item-main__title {
  font-size: 40px;
  margin: 0 0 0 30px;
}
.item-main__second-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}
.item-main__remove {
  max-height: 35px;
  height: 100%;
  padding: 5px 0 5px 15px;
  cursor: pointer;
}